.buildpath
.byebug_history
.metadata/
.project
Gemfile.lock
config/
db/
files/
log/
plugins/
public/
test/html_reports/
tmp/
.github/
.hgignore
.rubocop.yml
.rubocop_todo.yml
.stylelintignore
.stylelintrc
CONTRIBUTING.md
Rakefile
app/
appveyor.yml
bin/
config.ru
doc/
extra/
lib/generators/
lib/redmine.rb
lib/redmine/
lib/tasks/
package.json
yarn.lock

