.buildpath
.byebug_history
.metadata/
.project
.pydevproject
Gemfile.lock
config/
db/
files/
log/
plugins/
public/
test/html_reports/
tmp/
coverage/
themes/
.bundle/
.github/
.hgignore
.rubocop.yml
.rubocop_todo.yml
.stylelintignore
.stylelintrc
CONTRIBUTING.md
LICENSE.txt
README.rdoc
Rakefile
app/
bin/
config.ru
doc/
extra/
lib/generators/
lib/redmine.rb
lib/redmine/
lib/tasks/
package.json
vendor/
yarn.lock
